// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-style {
  font-size: 30px;
  padding-right: 7px;
}


.flex {
  display:flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-top-negative {
  margin-top: -60px;
}
.card-item {
  background:#ffffff;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-item h4{
  margin: 0;
}

.card-content {
  background:#F8F9FA;
}

.card-title {
  padding: 20px;
}

.card-actions {
  padding: 20px;
}
.card-actions a{
  padding-right: 10px;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200');
}

.flat-show-card{
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.card-image{
  height: 180px;
  background-position: center;
  background-size: cover;
}

.text-yellow{
  color:#ffc107!important;
}

.text-red{
  color:#dc3545!important;
}
